

@media (max-width: 600px) {
}
/* Medium screens */
@media (min-width: 601px) and (max-width: 1024px) {
}
/* Large screens */
@media (min-width: 1025px) {
}


.articleList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 5fr);
  padding: 32px;
  margin: 16px;
}

.articleCard {
  padding: 2rem;
}

.articlePicture{
  width: 50%;
}

.Welcome{
  text-align: center;
}

.menuLink{
  text-align: center;
  display: flex;
  flex-direction: column;
}


.LogInLink{
  padding: 1em;
  font-size:x-large
}
.TopicsLink{
  font-size:x-large
}

.likeButton {
  background-color: #555;
  color: white;
  text-decoration: none;
  padding: 2em;
  position: relative;
  display: inline-block;
  border-radius: 2px;
}

.CommentLink {
  background-color: #555;
  color: white;
  text-decoration: none;
  padding: 15px 26px;
  position: relative;
  display: inline-block;
  border-radius: 2px;
}

.likeButton:hover {
  background: red;
  cursor: pointer;
}

.CommentLink:hover {
  background: red;
  cursor: pointer;
}

.dislikeButton .badge {
  position: absolute;
  top: -30px;
  right: -40px;
  padding: 1em;
  border-radius: 50%;
  background: red;
  color: white;
}

.dislikeButton {
  background-color: #555;
  color: white;
  text-decoration: none;
  padding: 2em;
  position: relative;
  display: inline-block;
  border-radius: 2px;
}

.dislikeButton:hover {
  background: red;
  cursor: pointer;
}

.individualarticleHeader{
  text-align: center;
}

.individualarticleHeader .nav{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.individualarticleHeader .nav .backButton{
}

.individualArticleSection{
  text-align: center;
  padding: 2rem;
}

.individualArticleSection .individualArticleBody{
  padding: 2em;
  line-height: 1.5;
}

.individualArticleFooter{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.Loading{
  text-align: center;
}

.log_in .nav{
  display: flex;
  flex-direction: column;
  padding: 1%;
  row-gap: 1em;
}

.homeLink{
  text-align: center;
  font-size:x-large
}

.commentForm{
  padding: 2%;
  display: flex;
  flex-direction: column;
}

.TopicsHeader{
  text-align: center;
  font-size: xx-large;
  text-transform: uppercase;
}

.topicsList{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 5fr);
  padding: 32px;
  margin: 16px;
}

.SingleTopicPage .nav{
  display: flex;
  flex-direction: column;
  padding: 1%;
  row-gap: 1em;
  align-items: center;
}

.sortButtons . dates{
    float: left;
    border: 1px solid green;

}

