

@media (max-width: 600px) {
}
/* Medium screens */
@media (min-width: 601px) and (max-width: 1024px) {
}
/* Large screens */
@media (min-width: 1025px) {
}


.articleList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 5fr);
  padding: 32px;
  margin: 16px;
}

.articleCard {
  padding: 2rem;
}

.articlePicture{
  width: 50%;
}

.Welcome{
  text-align: center;
}

.menuLink{
  text-align: center;
}

.likeButton {
  background-color: #555;
  color: white;
  text-decoration: none;
  padding: 15px 26px;
  position: relative;
  display: inline-block;
  border-radius: 2px;
}

.likeButton:hover {
  background: red;
}

.likeButton .badge {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 5px 10px;
  border-radius: 50%;
  background: red;
  color: white;
}


